@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}


body {
    background-image: radial-gradient(#00f0ff, #a200ff, #ff00d4);
    color: white;
    background: url(./assets/cyberpunkcity.gif);
    background-size: cover;

}


.container {
    display: flex;
    height: 100vh;
}


.logo img {
    width: 50px;
    height: 50px;
    border-left: 0;
}


.sidebar {
    width: 300px;
    background-color: #121212;
    padding: 24px 24px 90px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.nav-library {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}


.nav-library i {
    color: #a200ff;
    font-size: 25px;
    cursor: pointer;
}


.nav-library p {
    font-size: 20px;
    cursor: pointer;
}

.nav-playlist,
.nav-podcast {
    background-color: #242424;
    padding: 10px;
}


.nav-playlist i {
    color: #ff00d4;
    font-size: 25px;
    border-radius: 8px;
}


.nav-podcast i {
    color: #001cb8;
    font-size: 25px;
}


.nav-playlist button,
.nav-podcast button {
    background-color: white;
    color: black;
    border: none;
    padding: 6px 10px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 20px;
}


.nav-playlist p,
.nav-podcast p {
    font-size: 12px;
}

.nav-footer {
    margin-top: auto;

}


.nav-footer a {
    color: #a7a7a7;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 8px;
    margin-right: 12px;
}


.nav-lang-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 8px 12px;
    margin-top: 16px;
    cursor: pointer;
    border-radius: 20px;
}


main {
    padding: 24px;
    flex-grow: 1;
    overflow-y: auto;

}


.search-bar {
    display: flex;
    align-items: center;
    background-color: #242424;
    padding: 8px 16px;
    border-radius: 20px;
    width: 300px;
}


.search-bar input {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    margin-left: 10px;
    outline: none;
}

.artists-grid,
.albums-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-bottom: 40px;
    gap: 24px;
}


.artist-card,
.album-card {
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

}


.artist-card:hover {
    background-color: #282828;

}


.album-card:hover {
    background-color: #282828;
}


.artist-card img,
.album-card img {
    width: 100%;
    max-height: 55%;
    border-radius: 50%;
    margin-bottom: 16px;
}

.artist-card h3,
.album-card h3 {
    font-size: 12px;

}



.artist-card p,
.album-card p {
    font-size: 10px;
    color: #b7b3b6;

}

.content {
    margin-top: 40px;
}


.content h2 {
    margin-bottom: 10px;
}


.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#00f0ff, #a200ff, #ff00d4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 14px;
}


.banner h2 {
    font-size: 14px;
}

.banner p {
    font-size: 10px;
}

.banner button {
    border-radius: 20px;
    color: black;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    cursor: pointer;

}


.banner button:hover{
    background-color: #a7a7a7;
}
